<div class="flex flex-col gap-5">
  <h1 class="text-2xl font-bold">
    Hello Admin! This is the /admin page
  </h1>

  <h3 class="text 2xl">
    <strong>Counter is:</strong> <%= @counter.value %>
  </h3>

  <%= button_to "Increment", increment_counter_path, class:"p-3 bg-blue-700 text-white rounded" %>

  <%= form_with model: @counter, url: modify_counter_path, method: :post, class:"flex gap-4" do |f| %>
    <%= f.submit "Set Value", class:"p-3 bg-green-700 text-white rounded cursor-pointer" %>

    <%= f.number_field :value, class:"bg-gray-200 p-2 w-20" %>
  <% end %>

  <%= form_with model: @counter, url: modify_counter_path, method: :post, class:"flex gap-4" do |f| %>
    <%= f.submit "Reset Counter", class:"p-3 bg-red-700 text-white rounded cursor-pointer" %>

    <%= f.hidden_field :value, value: 0 %>
  <% end %>

</div>
